body {
    font-family: Arial;
    background: #f0f8f0;
    padding: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.login-box, .form-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}
